extends ../template.pug

block content
  .section.homepage-hero.min-90vh(data-aos="fade")
    iframe( 
      src="https://player.vimeo.com/video/71466423?background=1&muted=1" 
      frameborder="0" 
      autoplay="1"
      muted
      allow="autoplay; fullscreen" 
      allowfullscreen>
    )
    .overlay.absolute.top-0.left-0
    .content
      img(
        class="logo"
        src="images/divinitree-logo.png"
      )
      h1 Discover
      img(
        class="wordmark"
        src="images/divinitree-wordmark.png"
      )
      h2 and find your community
  .section.new-to-yoga
    .section
      h1 New to yoga?
      h2 
        != '<span class="orange-1">Ease</span> into it and <span class="orange-1">explore</span> your practice with us' 
  .relative.first30
    .overlay
    img(
      src="images/sierra-pointing.png"
      class="bg-image z-0"
    )
    .content.relative.z-1
      .text
        span $48 
        span for your first 
        span 30 
        span days*
      .cta-and-fine-print
        a.button(href="#") Get started!
        span.returning-student * for new or returning students after 1 year 
  .divinitree-is
    .content 
      h1 
        != 'Divinitree is a lighthearted space to <span class="orange-1">practice</span> yoga, <span class="orange-1">grow</span>, and <span class="orange-1">connect</span>'
      p Whether you’re new to yoga or a seasoned yogi, find your space here to quiet the mind, challenge yourself, embrace community, and of course -- have fun. 
    .relative
      .overlay
      img(
        src="images/hands-together.png"
      )
  .schedule
    .content 
      h1 We offer classes that fit your schedule
      p We have an array of classes that will fit your busy schedule and personal needs. Whether you’re seeking to break a sweat, find inner stillness, or just play upside down, we have it all. 
      a(href="#") Visit our schedule
  .unlimited-membership.relative
    .overlay
      img(
        src="images/hands-up-group.png"
      )
    .content
      h1 
        != 'Our Unlimited Membership provides you the freedom to explore, for as long and as often as you want'
      p No minimum month commitment!
      a.button(href="#") Explore your options
  .more-than-yoga
    h1 Experience more than “just yoga”
    p Yoga doesn’t stop when you leave the mat. We feel that finding inner peace, connecting to yourself and others, and having fun can be achieved in numerous ways!
    img(
      class="helping-hand"
      src="images/helping-hand.png"
    )
    p We’ve partnered with Santa Barbara Rock Gym and Paddle Sports Center so you can enjoy discounted rates at their facilities. 
  .community-class
    .container
      .overlay
      img(
        src="images/gong.jpg"
      )
      h1 Yoga should be accessible to all
    p We offer several classes per week on a sliding scale from $15 - $22 for those who may not otherwise be able to afford our regular drop-in rates, class packages, or memberships.*
    p We're happy to support our community by offering discounted classes and kindly ask that those who are in comfortable financial standing help support the health of our studio by contributing what is personally feasible so we can continue to offer community classes. Thank you!
    p Community classes are available for purchase in-studio.

  .section
    h1 Discover yourself, Discover Divinitree
    p SB Local and new to the studio? 30 days of unlimited classes for just $48 is just the opportunity for you! 
  .section.vcard(
    itemscope
    itemtype="http://schema.org/Organization"
  )
    .org(itemprop="name") Divinitree Santa Barbara
    a.email(
      href="mailto:email@divinitreesantabarbara.com"
      itemprop="email"
    ) Send us an email
    address(
      itemprop="address"
      itemscope
      itemtype="http://schema.org/PostalAddress"
    )
      .street-address(itemprop="streetAddress") 25 East De La Guerra Street
      .street-address-details
        span.locality(itemprop="addressLocality") Santa Barbara,&nbsp;
        span.region(itemprop="addressRegion") CA&nbsp;
        span.postal-code(itemprop="postalCode") 93101
    .tel(itemprop="telephone") 805-897-3354
    